*{
    font-family: "Times New Roman", Times, serif;
    max-width: 100;
    color: rgb(29, 22, 27);

}

:root {
    --pink: rgb(229, 223, 235);

}

body {
    margin: 0%;
    background-color: rgb(253, 224, 246);
}

/* CSS properties for header elements*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 44, 63);
    }
 
/* Media query for header and subtitle (h2)*/
@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        }
    .bottomright {
        position: absolute;
        bottom: 8px;
        right: 20px;
        font-size: 20px;
        }
}
    
header h1 {
    padding-left: 60px;
    padding-right: 10px;
    background-color: var(--pink);
    font-size: 40px;
}

ul {
    padding-right: 63px;
    font-size: 25px;
}

header ul li {
    display: inline-block; 

}
/* Media query for list item in header*/
@media only screen and (max-width: 768px) {
    header ul li {
        display: inline-block; 
        width: 100%;
        height: 40px;    
    }
}
ul li a {
    color: var(--pink);
    background-color: transparent;
    padding: 5px;
  }

  /* Hover effect for the lnks in header*/
  a:hover {
    color: orange
}
  
/* CSS properties for section 1*/
.hero {
    height: 150px;
    width: 100%;
    background-image: url(./images/sub5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 20px;
}

/* CSS properties for About me heading and paragraph*/
.about-container {
    display: flex;
}

.section-title {
    padding-right: 10px;
    font-size: 40px;
    margin-left: 150px;
    display: flex;
}

section div p {
    font-size: 20px;
    padding-left: 20px;
    color: rgb(15, 14, 14);
    border-left: 5px solid black;
    
}
/* Media query for about me */
@media only screen and (max-width: 786px) {
    .section-title {
        padding-right: 10px;
        font-size: 40px;
        margin-left: 10px;
        display: flex;
        border-bottom: 5px solid black;
    }
    .about-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;  

    }
    section div p {
        font-size: 20px;
        padding-left: 20px;
        color: rgb(15, 14, 14);
        border-left: 0;
       
    }
}
/* CSS properties for main tag*/
#work{
    margin-right: 9px;
}

main {
    display: flex;
    }

.parent-album {
        width: 1000px;
        
    }

.album {
        display: flex;
        flex-wrap: wrap;
        border-left: 5px solid black;
        position: relative;
        
    }

@media only screen and (max-width: 768px) {
        .album {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            flex-direction: column;
            border-left: 0
        }
    
    }
        
    
/* CSS properties with hover effect and positioning for images*/
.project1 {
    margin: 10px;
    border: 3px solid rgb(51, 44, 63);
    opacity: 0.3;
    box-shadow: 5px 5px 10px purple;
    flex-shrink: 1;
}



@media only screen and (max-width: 768px) {
    
    .shrink {
        width: 406px;
        height: 205px;
    }
}

.project1:hover{
    position: relative;
    opacity: 1;
    box-shadow: 5px 5px 10px purple;
    transition: 1s ease;
}

/* CSS broperties with positioning for subtitles in the images*/
#image1 {
    position: absolute;
    text-align: center;
    bottom: 490px;
    left: 14px;
}

#image2 {
    position: absolute;
    text-align: center;
    bottom: 258px;
    left: 14px;
}

#image3 {
    position: absolute;
    text-align: center;
    bottom: 258px;
    left: 440px;
}

#image4 {
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 14px;
}

#image5 {
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 440px;
}

.design {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(206, 176, 206);
    box-shadow: 5px 5px 10px purple;
}

/* Media query for the subtitles of images*/
@media only screen and (max-width: 768px) {
    #image1 {
        position: absolute;
        text-align: center;
        bottom: 920px;
        left: 160px;
    }
    
    #image2 {
        position: absolute;
        text-align: center;
        bottom: 689px;
        left: 160px;
    }
    
    #image3 {
        position: absolute;
        text-align: center;
        bottom: 459px;
        left: 160px;
    }
    
    #image4 {
        position: absolute;
        text-align: center;
        bottom: 229px;
        left: 160px;
    }
    
    #image5 {
        position: absolute;
        text-align: center;
        bottom: 1px;
        left: 160px;
    }
}
/* CSS property for footer*/

footer {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 768px) {
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    border-top: 5px solid purple;
}
}

.contact-me {
    position: relative;
    right: 26px;
    margin-left: 80px;
    font-size: 40px;
    margin-right: -9px;
    
}

footer nav ul li a {
    color: black;
    text-decoration: none;
}
    
footer nav ul {
    border-left: 5px solid black;
}

footer nav ul li {
    display: inline;
    color: rgb(37, 29, 37);
    font-size: 25px;
    border-bottom: 2px 
    solid black;
    font-weight: 700;
    margin-right: 70px;
}

@media only screen and (max-width: 768px) {
    footer nav ul {
        border-left: 0;
    }
}

@media only screen and (max-width: 768px) {
footer nav ul li {
    display: inline-block; 
    width: 100%;
    height: 40px; 
    border-bottom: 0;
    margin-right: 0px;
    text-align: center;
}
}

