*{
    font-family: "Times New Roman", Times, serif;
    max-width: 100;
    color: rgb(29, 22, 27);

}

:root {
    --pink: rgb(229, 223, 235);

}

body {
    margin: 0%;
    background-color: rgb(239, 232, 243);
}

/* CSS properties for header elements*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 44, 63);
    }
    
header h1 {
    padding-left: 60px;
    padding-right: 10px;
    background-color: var(--pink);
    font-size: 40px;
}

ul {
    padding-right: 63px;
    font-size: 25px;
}

header ul li {
    display: inline-block; 

}

ul li a {
    color: var(--pink);
    background-color: transparent;
    padding: 5px;
  }

  /* Hover effect for the lnks in header*/
  a:hover {
    color: orange
}
  
/* CSS properties for section 1*/
.hero {
    height: 150px;
    width: 100%;
    background-image: url(./images/sub.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 20px;
}

/* CSS properties for About me heading and*/
.about-container {
    display: flex;
}

.section-title {
    padding-right: 10px;
    font-size: 40px;
    margin-left: 150px;
    display: flex;
}

section div p {
    font-size: 20px;
    padding-left: 20px;
    color: rgb(15, 14, 14);
    border-left: 5px solid black;
}

/* CSS properties for main tag*/
main {
    display: flex;
    }

.parent-album {
        width: 1000px;
        
    }

.album {
        display: flex;
        flex-wrap: wrap;
        border-left: 5px solid black;
        position: relative;
    }

/* CSS properties with hover effect and positioning for images*/
.project1 {
    margin: 10px;
    border: 3px solid rgb(51, 44, 63);
    opacity: 0.3;
    box-shadow: 5px 5px 10px purple;
}
.project1:hover{
    position: relative;
    opacity: 1;
    box-shadow: 5px 5px 10px purple;
    transition: 1s ease;
}

/* CSS broperties with positioning for images*/
#image1 {
    position: absolute;
    text-align: center;
    bottom: 490px;
    left: 14px;
}

#image2 {
    position: absolute;
    text-align: center;
    bottom: 258px;
    left: 14px;
}

#image3 {
    position: absolute;
    text-align: center;
    bottom: 258px;
    left: 440px;
}

#image4 {
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 14px;
}

#image5 {
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 440px;
}

.design {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgb(206, 176, 206);
    box-shadow: 5px 5px 10px purple;
}

/* CSS property for footer*/

footer {
    display: flex;
    align-items: center;
}

.contact-me {
    position: relative;
    right: 26px;
    margin-left: 80px;
    font-size: 40px;
    margin-right: -9px;
}
    
footer nav ul {
    border-left: 5px solid black;
}

footer nav ul li {
    display: inline;
    color: black;
    font-size: 25px;
    border-bottom: 2px 
    solid black;
    font-weight: 500;
    margin-right: 70px;
}

#work{
    margin-right: 9px;
}